@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f9fafb;
}

input,
button,
select {
  outline: none;
}

input:focus,
button:focus,
select:focus {
  outline: none;
}

hr {
  margin: 10px;
}
